{%extends 'nav.html'%} {%load static%} {%block title%} D-Xpertz - About Us{%endblock%} {% block content%}
<!-- About Hero -->

<section class="about-hero">
    <h1>Welcome To D-Xpertz</h1>
</section>


<!-- Company Profile -->

<section class="company-profile">

    <div class="profile" data-aos="fade-up" data-aos-delay="10">
        <h1>
            GOALS</h1>
        <p>To be a torch bearer in the world of computer technology.</p>
    </div>
    <div class="profile" data-aos="fade-up" data-aos-delay="15">
        <h1>
            PURPOSE</h1>
        <p>To empower this generation for self-reliance and sustenance through information technology.</p>
    </div>
    <div class="profile" data-aos="fade-up" data-aos-delay="10">
        <h1>
            VISION</h1>
        <p>To create a positive change in the world through excellence in training.</p>
    </div>
    <div class="profile" data-aos="fade-up" data-aos-delay="15">
        <h1>
            MISSION STATEMENT</h1>
        <p>To create a positive change in the world through excellence in training.</p>
    </div>
    <div class="profile" data-aos="fade-up" data-aos-delay="20">
        <h1>
            CORE VALUES</h1>
        <p>We believe in excellence. We uphold the dignity of our customers. We promote positive change and enshrine trust and integrity.</p>
    </div>
</section>

<!-- OUR PHILOSOPHY -->

<section class="philosophy">

    <div class="container">

        <div class="title" data-aos="fade-up" data-aos-delay="10">
            <h1>OUR PHILOSOPHY</h1>
        </div>

        <div class="writeup" data-aos="fade-up" data-aos-delay="15">
            <p>D-Xpertz Computer Technology derives its propelling force from customers’ satisfaction, which is also its focal point. <br> It operates a curriculum that is well reviewed to meet the present day technological challenges served on a platform
                of global standard. <br> Our cutting-edge education services include Information Communication Technology (ICT) training. <br> Our team of experienced councellors are always on ground to guide students on the right career choice.
            </p>
        </div>
    </div>
</section>

<!-- Our Business -->

<section class="business-scope">
    <div class="images" data-aos="fade-up" data-aos-delay="10"><img src="{%static 'images/scope.png'%}" alt=""></div>
    <div class="scope" data-aos="fade-in" data-aos-delay="10">
        <h1>Scope of Business</h1>
        <p>Information Technology Training</p>
        <p>Software and Application Development</p>
        <p>Sales and Supply of Computers and Accessories</p>
        <p>Installation and Repair of Computers

        </p>
        <p>General ICT Contractors and Solution Provider</p>
        <p>Our cutting-edge education services include Information Communication Technology (ICT) training</p>
        <p>We register and run preparatory lectures for IELTS.</p>
        <p>You can rely on our competent human resources and up-to-date facilities for effective learning.</p>
    </div>
</section>
<!-- OUR Training -->

<section class="philosophy">

    <div class="container">

        <div class="title" data-aos="fade-up" data-aos-delay="10">
            <h1>ICT TRAINING AND EXAM</h1>
        </div>

        <div class="writeup" data-aos="fade-up" data-aos-delay="15">
            <p>We render various ICT training services ranging from Basic Computer training to professional stage leading to International Certifications. We offer a wide range of programmes related to the latest technologies of IT industries.<br> These
                programmes are designed to equip the trainees with up-to-date knowledge and skills to prepare for leading roles in the IT industries.<br> We are committed to encouraging academic virtues, hardwork and the pursuit of excellence in a warm
                and conducive environment.
                <br> Our aim is to provide opportunities for students of all abilities through the use of good preparatory aid. </p>
        </div>
    </div>
</section>

<!-- Our Nuggets -->

<section class="business-scope">

    <div class="scope" data-aos="fade-up" data-aos-delay="10">
        <h1>Visual Captured In Nuggets</h1>
        <p>D-Xpertz …….your pathway to self-realization.</p>
        <p>D-Xpertz ……come partner with the best</p>
        <p>D-Xpertz ……we lead you to a fulfilling future</p>
        <p>D-Xpertz ……we incubate the future</p>
        <p>D-Xpertz …. we unleash your inner capabilities</p>
        <p>D-Xpertz ….we deliver the future now!</p>
        <p>D-Xpertz ……come train with the eagles</p>
        <p>D-Xpertz ……come train with the experts</p>
        <p>D-Xpertz ….your journey to greatness begins here</p>
    </div>
    <div class="images" data-aos="fade-in" data-aos-delay="10"><img src="{%static 'images/nugget.png'%}" alt="">
    </div>
</section>

<!-- OUR Training -->

<section class="philosophy">

    <div class="container">

        <div class="title" data-aos="fade-up" data-aos-delay="10">
            <h1>D-XPERTZ IS AN EXPERT IT TRAINING</h1>
        </div>

        <div class="writeup" data-aos="fade-up" data-aos-delay="20">
            <p>D-Xpertz is manned by highly skilled and experienced professionals who collectively parade more than twenty (20) years’ experience in Computing, Communication, Electronics and Multimedia Implementations. Our areas of specialties include the
                following among others; Computer Consultancy, Computer Assembly, Leasing, Sales, Installation and Maintenance, Corporate/Executive Training, Computer Networking, Systems Analysis and Software Development (Customised packages). Others are;
                Desktop Publishing (DTP), Data Analysis, animation and Multimedia implementation. <br> Our long list of customers cuts across Banking and Oil Industries, Governmental Agencies, Educational Institutions, Private and Public Organisations.
                With a joint team of Professionals and a strong relationship with Information Technology (IT) Equipment Manufacturers. <br>
                <br> D-Xpertz is poised with the single objective of having access to the latest technologies and solutions for use in meeting the complex demands of our clients. </p>
        </div>
    </div>
</section>


{% endblock%}