{% extends 'nav.html'%} {%load static%}{%block title%}D-Xpertz - The Digital Company{%endblock%} {%block content%}


<!-- Header hero -->

<header class="hero">


    <div class="start ">
        <h1 class="topic animated fadeInUp 8s">Study, Work & Live Abroad</h1>
        <a href="{%url 'ielts'%}">Find out more</a>
    </div>

</header>

<!-- Draw Svg -->
<section class="centre">
    <div class="container">
        <div class="title">
            <h1> IELTS Benin Training</h1>
            <p>IELTS test is developed by some of the world’s leading experts in
                language assessment... We resolve them here</p>
        </div>

        <div class="box">

            <div class="dets">
                <div class="image"><img src="{%static 'images/class1.jpg'%}" alt="Dxpertz Class 1"></div>

                <h1>Conducive Environment</h1>
            </div>
            <div class="dets">
                <div class="image"><img src="{%static 'images/class2.jpg'%}" alt="Dxpertz Class 2"></div>

                <h1>Learning at Your Own Pace</h1>
            </div>
            <div class="dets">
                <div class="image"><img src="{%static 'images/class.jpg'%}" alt="Dxpertz Class 3"></div>

                <h1>Interactive Lectures</h1>
            </div>
            <div class="dets">
                <div class="image"><img src="{%static 'images/class4.jpg'%}" alt="Dxpertz Class 4"></div>

                <h1>Dedicated Tutors</h1>
            </div>
            <div class="dets">
                <div class="image">
                    <img src="{%static 'images/class5.jpg'%}" alt=" Dxpertz Class 5 "></div>

                <h1>Futuristic</h1>
            </div>
            <div class="dets">
                <div class=" image "><img src="{%static 'images/class3.jpg'%}" alt=" Dxpertz Class 6 "></div>

                <h1>For All Ages</h1>
            </div>
        </div>
    </div>

</section>

<!-- Banner -->

<section class=" banner "><img src="{%static 'images/banner.jpeg'%}" alt=" Dxpertz Banner "></section>

<section class=" hero-need ">
    <div class="title">
        <h1>We've got what you need!
        </h1>
        <p>What do you desire to learn in the ever evolving IT world?</p>
    </div>


    <div class=" desc ">
        <div class=" images "><img src="{%static 'images/staff.jpg'%}" alt=" Staff "></div>
        <div class=" info ">
            <h1>Beyond Computers</h1>
            <p>Our cutting-edge education services include Information Communication Technology (ICT) training.
                <br /> Our team of experienced councellors are always on ground to guide students on the right career
                choice.
            </p>

            <a href="{%url 'programmes'%}" class=" btn_need ">ICT AND MORE</a>
        </div>
        <div class=" info ">
            <h1>More Than Training</h1>
            <p>We render various ICT training services ranging from basic computer training to professional stage
                leading to award of international certifications.
                <br /> We offer a wide range of programmes related to the latest technologies of IT industries!</p>

            <a href="{%url 'programmes'%}" class=" btn_need ">PROGRAMMES</a>
        </div>

        <div class=" images "><img src="{%static 'images/office.jpg'%}" alt=" Staff "></div>
    </div>
</section>

<!-- At Your Service -->

<section class=" hero-service ">
    <div class=" container ">

        <div class=" title ">
            <h1>At Your Service</h1>
            <p>Why not check our long list of programmes we offer!</p>
        </div>

        <div class=" body ">

            <a href="{%url 'microsoft'%}">
                <div class=" prog ">
                    <div class=" icon "><img src="{%static 'images/Microsoft.svg'%}" alt=" Microsoft logo "></div>
                    <h1>Microsoft office</h1>
                    <p>Suite of desktop applications and services such as Microsoft Word, Excel, Access, PowerPoint, One
                        Drive and Outlook.</p>
                </div>
            </a>
            <a href="{%url 'php'%}">
                <div class=" prog ">
                    <div class=" icon "><img src="{%static 'images/php.svg'%}" alt=" Microsoft logo "></div>
                    <h1>Php/MySql</h1>
                    <p>PHP can help you make your websites more dynamic, interactive and broaden your understanding
                        of how servers work.</p>
                </div>
            </a>
            <a href="{%url 'ielts'%}">
                <div class=" prog ">
                    <div class=" icon "><img src="{%static 'images/ielts.svg'%}" alt=" Microsoft logo "></div>
                    <h1>IELTS</h1>
                    <p>You can get trained on the world’s most popular English-language test for higher-studies, work,
                        and migration
                    </p>
                </div>
            </a>
        </div>
    </div>

</section>



<!-- I.T Training at D-Xpertz -->
<section class=" hero-training ">
    <div class=" desc ">
        <h1>I.T Training at D-Xpertz</h1>
        <p>D-Xpertz is built to keep you connected and informed with the latest developement in the I.T world.</p>
        <p>D-Xpertz is a world class ICT and IELTS training centre in Benin City. </p>
        <p>When you think of ICT or IELTS, D-Xpertz comes to mind. </p>
    </div>

    <div class=" image "><img src="{%static 'images/lecture.jpg'%}" alt=" ">
    </div>
</section>

<!-- At Your Service -->

<section class=" hero-service ">
    <div class=" container ">

        <div class=" title ">
            <h1>SERVICES</h1>
            <p>The world class training centre.</p>
        </div>

        <div class=" body ">
     <a href="{%url 'about'%}">
                <div class=" prog ">
                    <div class=" icon "></div>
                    <h1>Career Advice</h1>
                    <p>We will guide you carefully into making the right career choice that will give you an edge over your peers.</p>
                </div>
            </a>
            <a href="{%url 'about'%}">
                <div class=" prog ">
                    <div class=" icon "></div>
                    <h1>Training</h1>
                    <p>We offer a wide range of programmes related to the latest technologies of IT industries.</p>
                </div>
            </a>
            
            <a href="{%url 'about'%}">
                <div class=" prog ">
                    <div class=" icon "></div>
                    <h1>Certification</h1>
                    <p>Our training leads to internationally recognised certifications.</p>
                </div>
            </a>
       
        </div>
    </div>

</section>

<!-- Available Training Programmes. -->

<section class=" programmes ">
    <h1>Available Training Programmes.</h1>
    <a href=" {%url 'programmes'%} ">LEARN MORE</a>
</section>

<!-- Register -->
<section class="register-hero">

    <a href="{%url 'contact'%}">Register Now</a>
</section>
{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
<script>
    const draw = () => {
        var tl = new TimelineMax();


    };
</script>