{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145857523-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-145857523-1');
    </script>
    <meta name="keywords" content="IT Training centre in benin, ielts training in benin, IT centre, webdesigning classes in benin, ielts Nigeria, ielts registration Nigeria, ielts exams in Nigeria, ielts exam dates in Nigeria, ielts exam dates in nigeria 2019, ielts test dates in Nigeria, ielts centers in lagos, ielts dates in Nigeria, ielts centres in Nigeria, register for ielts in Nigeria,
    ielts fee in Nigeria, ielts exam fee in Nigeria, ielts exam in nigeria academic module, ielts test centres in Nigeria, registration for ielts exam in Nigeria, take ielts in Nigeria, ielts registration fees in Nigeria, available ielts dates in Nigeria, international english language testing system in Nigeria, ielts available dates in Nigeria, dates for ielts in nigeria, centres for ielts in Nigeria, available dates for ielts in Nigeria, next ielts exam in Nigeria, test dates for ielts in Nigeria">
    <meta property="og:description" content="D-Xpertz Computer Technology">
    <meta property="og:url" content="https://dxpertz.com">
    <meta name="description" content="IT Training Centre In Benin">

    <meta property="og:title" content="The Digital Company">
    <meta property="og:image" content="https://dxpertz.com/images/1a.png">
    <meta name="theme-color" content="#2980b9">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#2980b9">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#2980b9">
    <!-- Facebook Pixel Code -->
    <script>
        ! function(f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function() {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '677168609701864');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=677168609701864&ev=PageView&noscript=1" /></noscript>
    <!-- End Facebook Pixel Code -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{%block title%} {%endblock%}</title>

    <link rel="stylesheet" href="{% static 'css/main.css'%}" />

    <link rel="stylesheet" href="{% static 'css/programme.css'%}" />

    <link rel="stylesheet" href="{% static 'css/contact.css'%}" />
    <link rel="shortcut icon" href="{% static 'images/1.jpg'%}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'css/courses.css'%}" />


    <link rel="stylesheet" href="{% static 'css/success.css'%}" />

    <link rel="stylesheet" href="{% static 'css/aos.min.css'%}" />

    <link rel="stylesheet" href="{% static 'css/about.css'%}" />
    <link rel="stylesheet" href="{%static 'fontawesome-free-5.10.0-web/css/all.css'%}" />
    <link rel="stylesheet" href="{%static 'fontawesome-free-5.10.0-web/css/fontawesome.css'%}" />
    <link rel="stylesheet" href="{%static 'fontawesome-free-5.10.0-web/webfonts'%}" />
    <link rel="stylesheet" type="text/css" href="{%static 'font/flaticon.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'font/flaticon.woff'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'font/flaticon.woff2'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'font/flaticon.eot'%}">

</head>

<body>
    <div class="nav-bar">
        <div class="logo">
            <a href="{% url 'home'%}"><img src="{% static 'images/logo.svg'%}" alt="" /></a>
        </div>
        <nav class="nav-link">
            <ul>
                <li>
                    <a href="{% url 'home'%}">Home</a>
                </li>
                <li>
                    <a href="{% url 'about'%}">Who are we</a>
                </li>
                <li>
                    <a href="{% url 'programmes'%}">What we do</a>
                </li>
                <li>
                    <a href="{% url 'contact'%}">Contact</a>
                </li>
            </ul>
        </nav>

        <div class="mobile-menu">
            <span class="line1 line"></span>
            <span class="line2 line"></span>
            <span class="line3 line"></span>
        </div>
    </div>

    {%block content%} {% endblock %}

    <footer>
        <div class="footer-top">
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'home'%}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'about'%}">Who are we</a>
                    </li>
                    <li>
                        <a href="{% url 'programmes'%}">What we do</a>
                    </li>
                    <li>
                        <a href="{% url 'contact'%}">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="footer-center">
            <p>27 Airport Road Ede Plaza, Benin City, Edo State, Nigeria.</p>
            <a href="tel:+2348055964598">Phone: +234 805 596 4598</a>
            <a href="mailto:info@dxpertz.com">Email: info@dxpertz.com</a>
        </div>
    </footer>

    <div class="back-top"><i class="fas fa-angle-double-up"></i></div>
</body>

</html>

<script src="{% static 'js/home.js'%}"></script>

<script src="{% static 'js/aos.min.js'%}"></script>

<script src="{% static 'js/gsap.min.js'%}"></script>

<script>
    AOS.init({
        easing: 'ease',
        once: true,
        duration: 1300,
    });
</script>