{%extends 'nav.html'%} {%block title%}Our Programmes - D-Xpertz{%endblock%} {% block content%}

<section class="hero-prog">


    <div class="start">
        <h1>Are You Ready For IELTS </h1>
        <a href="{%url 'ielts'%}">Find out more</a>
    </div>

</section>

<!-- Centre section -->

<section class="progg">
    <div class="container">
        <div class="title">
            <h1>Our Programmes</h1>

        </div>

        <div class="program">

            <div class="dets">


                <h1>PHP/MYSQL</h1>
                <p>PHP can help you make your websites more dynamic and interactive and broaden your understanding of how servers work. <br> Anyone can get started using PHP. PHP is a server scripting language designed for web development.</p>
                <a href="{%url 'php'%}">Learn More</a>
            </div>

            <div class="dets">


                <h1>MCSE: SERVER INFRASTRUCTURE</h1>
                <p>The Microsoft Certified Solution Expert (MCSE): Server Infrastructure Certification validates that you have the skills needed to run a highly efficient and modern data center, with expertise in identity management, virtualization, storage
                    and networking.</p>
                <a href="{%url 'mcse'%}">Learn More</a>
            </div>
            <div class="dets">


                <h1>IELTS</h1>
                <p>IELTS stands for International English Language Testing System and is one of the most recognized English certifications in the world, whether you are a student or worker aiming to migrate. <br> IELTS stands for International English Language
                    Testing System.</p>
                <a href="{% url 'ielts'%}">Learn More</a>
            </div>
            <div class="dets">


                <h1>ORACLE DATABASE</h1>
                <p>The Oracle Database is a high-performance, enterprise-class database, this is "the first database.
                    <br> Oracle Database introduces 500 new features to the database, most notably pluggable databases and multitenant architecture.</p>
                <a href="{%url 'oracle'%}">Learn More</a>
            </div>
            <div class="dets">


                <h1>AUTOCAD</h1>
                <p>AutoCAD is a computer aided design (CAD) program used for 2-D and 3-D design and drafting. <br> AutoCAD is developed and marketed by Autodesk Inc. and was one of the initial CAD programs that could be executed on personal computer.</p>
                <a href="{%url 'autocad'%}">Learn More</a>
            </div>
            <div class="dets">


                <h1>MICROSOFT OFFICE</h1>
                <p>Microsoft office training is for both professionals and people that are new to the field of computer, our training will give you the expertise you need in specific product or technology. <br> New to Computer?
                </p>
                <a href="{%url 'microsoft'%}">Learn More</a>
            </div>

        </div>
    </div>

    <!-- Programme Image -->
    <section class="program-image">

        <a href=""> <img src="../static/images/ielts.png" alt="programme image"></a>
    </section>

    <!-- Centre section -->

    <section class="pro">
        <div class="container">


            <div class="continue">
                <div class="dets">


                    <h1>CCNA</h1>
                    <p>The Cisco CCNA certification, which stands for Cisco Certified Network Associate, refers to a wide range of technical specializations that Cisco offers the IT world. <br> These industry standard certifications are favored by organizations
                        because they demonstrate the job candidate's technical acumen and competency. </p>
                    <a href="{%url 'ccna'%}">Learn More</a>
                </div>
                <div class="dets">


                    <h1>PRIMAVERA</h1>
                    <p>Primavera is an enterprise project portfolio management software. It includes project management, product management, collaboration and control capabilities, and integrates with other enterprise software such as Oracle and SAP’s ERP
                        systems.
                    </p>
                    <a href="{%url 'primavera'%}">Learn More</a>
                </div>

                <div class="dets">


                    <h1>SQL SERVER</h1>
                    <p>SQL Server is a data engine introduced by Microsoft. It provides an environment used to create and manage databases. <br> It allows secure and efficient storage. It provides other components and services that support the business intelligence
                        platform to generate reports and help analyze the data.</p>
                    <a href="{%url 'sql'%}">Learn More</a>
                </div>
                <div class="dets">


                    <h1>PROJECT MANAGEMENT PROFESSIONAL</h1>
                    <p>Project Management Professional (PMP) is an internationally recognized professional designation offered by the Project Management Institute (PMI). The PMI’s standard for project management is contained in the Project Management Body
                        of Knowledge.
                    </p>
                    <a href="{%url 'pmp'%}">Learn More</a>
                </div>
                <div class="dets">


                    <h1>JAVA</h1>
                    <p>Java is a general-purpose computer-programming language that is concurrent, class-based, object-oriented, and specifically designed to have as few. <br> Java is a high-level programming language developed by Sun Microsystems. .

                    </p>
                    <a href="{%url 'java'%}">Learn More</a>
                </div>
                <div class="dets">


                    <h1>PYTHON</h1>
                    <p>Python is an interpreted, high-level, general-purpose programming language. <br> Created by Guido van Rossum and first released in 1991, Python's design philosophy emphasizes code readability with its notable use of significant whitespace.</p>
                    <a href="{%url 'python'%}">Learn More</a>
                </div>
                <div class="dets">


                    <h1>WEB DESIGN</h1>
                    <p>Be it large cooperate or small and medium scale offices, every business needs a website for organization to manage their transactions online, enhance service delivery reach out to a wider audience.
                    </p>
                    <a href="{%url 'webdesign'%}">Learn More</a>
                </div>

            </div>
        </div>
    </section>

    {%endblock%}